.app{
    display: flex;
    flex-flow: column;
    gap:1em;
    justify-content : center;
    color:#fff;
}


.coder{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 4em;
}

.AllCards{
    display: flex;
    flex-flow: row wrap;
    gap:1em;
    align-items: center;
    justify-content : center;
}